* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

:root {
    --colorWhite: #CDCBD7;
    --colorOrange: #DA6745;
    --colorOlive: #586233;
    --colorDarkOlive: #2F2F1F;
}

.tWhite {
    color: var(--colorWhite) !important;
}

.tOrange {
    color: var(--colorOrange) !important;
}

.tolive {
    color: var(--colorOlive) !important;
}

.tDark {
    color: var(--colorDarkOlive) !important;
}

.nav-link:hover {
    color: var(--colorOlive) !important;
}

.nav-item {
    margin: 0 30px;
}

a {
    text-decoration: none !important;
}

.index ul li:hover {
    background-color: var(--colorDarkOlive) !important;
    transition-duration: .5s;
    cursor: pointer;
}

ul li:hover p {
    color: var(--colorWhite) !important;
}